<input type="hidden"
       name="authenticity_token"
       value="<%= form_authenticity_token %>">

<label for="user_email">Email</label>
<input id="user_email"
       name="user[email]"
       type="text">
<br>
<label for="user_pass">Password</label>
<input id="user_pass"
       name="user[password]"
       type="password">
<br>